@theme {
  /* Colors */
  --color-brand-50: rgb(23, 23, 23);
  --color-brand-100: rgb(38, 38, 38);
  --color-brand-200: rgb(64, 64, 64);
  --color-brand-300: rgb(38, 38, 38);
  --color-brand-400: rgb(115, 115, 115);
  --color-brand-500: rgb(163, 163, 163);
  --color-brand-600: rgb(212, 212, 212);
  --color-brand-700: rgb(229, 229, 229);
  --color-brand-800: rgb(245, 245, 245);
  --color-brand-900: rgb(250, 250, 250);
  --color-neutral-0: rgb(12, 10, 9);
  --color-neutral-25: rgb(13, 14, 14);
  --color-neutral-50: rgb(28, 25, 23);
  --color-neutral-100: rgb(41, 37, 36);
  --color-neutral-200: rgb(68, 64, 60);
  --color-neutral-300: rgb(87, 83, 78);
  --color-neutral-400: rgb(120, 113, 108);
  --color-neutral-500: rgb(168, 162, 158);
  --color-neutral-600: rgb(214, 211, 209);
  --color-neutral-700: rgb(231, 229, 228);
  --color-neutral-800: rgb(245, 245, 244);
  --color-neutral-900: rgb(250, 250, 249);
  --color-neutral-950: rgb(255, 255, 255);
  --color-error-50: rgb(60, 24, 26);
  --color-error-100: rgb(72, 26, 29);
  --color-error-200: rgb(84, 27, 31);
  --color-error-300: rgb(103, 30, 34);
  --color-error-400: rgb(130, 32, 37);
  --color-error-500: rgb(170, 36, 41);
  --color-error-600: rgb(229, 72, 77);
  --color-error-700: rgb(242, 85, 90);
  --color-error-800: rgb(255, 99, 105);
  --color-error-900: rgb(254, 236, 238);
  --color-warning-50: rgb(52, 28, 0);
  --color-warning-100: rgb(63, 34, 0);
  --color-warning-200: rgb(74, 41, 0);
  --color-warning-300: rgb(87, 51, 0);
  --color-warning-400: rgb(105, 63, 5);
  --color-warning-500: rgb(130, 78, 0);
  --color-warning-600: rgb(255, 178, 36);
  --color-warning-700: rgb(255, 203, 71);
  --color-warning-800: rgb(241, 161, 13);
  --color-warning-900: rgb(254, 243, 221);
  --color-success-50: rgb(19, 40, 25);
  --color-success-100: rgb(22, 48, 29);
  --color-success-200: rgb(25, 57, 33);
  --color-success-300: rgb(29, 68, 39);
  --color-success-400: rgb(36, 85, 48);
  --color-success-500: rgb(47, 110, 59);
  --color-success-600: rgb(70, 167, 88);
  --color-success-700: rgb(85, 180, 103);
  --color-success-800: rgb(99, 193, 116);
  --color-success-900: rgb(229, 251, 235);
  --color-brand-accent-100: rgb(25, 39, 200);
  --color-brand-accent-200: rgb(5, 12, 81);
  --color-brand-primary: rgb(212, 212, 212);
  --color-default-font: rgb(250, 250, 249);
  --color-subtext-color: rgb(168, 162, 158);
  --color-neutral-border: rgb(68, 64, 60);
  --color-black: rgb(12, 10, 9);
  --color-default-background: rgb(12, 10, 9);

  /* Fonts */
  --text-caption: 15px;
  --text-caption--font-weight: 400;
  --text-caption--letter-spacing: 0em;
  --text-caption--line-height: 20px;
  --text-caption-bold: 15px;
  --text-caption-bold--font-weight: 500;
  --text-caption-bold--letter-spacing: 0em;
  --text-caption-bold--line-height: 20px;
  --text-body: 17px;
  --text-body--font-weight: 200;
  --text-body--letter-spacing: 0em;
  --text-body--line-height: 22px;
  --text-body-bold: 17px;
  --text-body-bold--font-weight: 600;
  --text-body-bold--letter-spacing: 0em;
  --text-body-bold--line-height: 22px;
  --text-heading-5: 18px;
  --text-heading-5--font-weight: 200;
  --text-heading-5--letter-spacing: 0em;
  --text-heading-5--line-height: 22px;
  --text-heading-3: 30px;
  --text-heading-3--font-weight: 500;
  --text-heading-3--letter-spacing: 0em;
  --text-heading-3--line-height: 35px;
  --text-heading-1: 55px;
  --text-heading-1--font-weight: 500;
  --text-heading-1--letter-spacing: 0em;
  --text-heading-1--line-height: 60px;
  --text-monospace-body: 14px;
  --text-monospace-body--font-weight: 400;
  --text-monospace-body--letter-spacing: 0em;
  --text-monospace-body--line-height: 20px;
  --text-heading-2: 40px;
  --text-heading-2--font-weight: 400;
  --text-heading-2--letter-spacing: 0em;
  --text-heading-2--line-height: 44px;
  --text-heading-4: 25px;
  --text-heading-4--font-weight: 400;
  --text-heading-4--letter-spacing: 0em;
  --text-heading-4--line-height: 30px;

  /* Font families */
  --font-caption: Manrope;
  --font-caption-bold: Manrope;
  --font-body: Manrope;
  --font-body-bold: Manrope;
  --font-heading-5: Archivo;
  --font-heading-3: Archivo;
  --font-heading-1: Archivo;
  --font-monospace-body: monospace;
  --font-heading-2: Archivo;
  --font-heading-4: Archivo;

  /* Box shadows */
  --shadow-sm: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  --shadow-default: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  --shadow-md: 0px 4px 16px -2px rgba(0, 0, 0, 0.08),
    0px 2px 4px -1px rgba(0, 0, 0, 0.08);
  --shadow-lg: 0px 4px 20px 2px rgba(0, 0, 0, 0.1);
  --shadow-overlay: 0px 4px 20px 2px rgba(0, 0, 0, 0.1);

  /* Border radiuses */
  --radius-sm: 0px;
  --radius-md: 0px;
  --radius-DEFAULT: 0px;
  --radius-lg: 0px;
  --radius-full: 9999px;

  /* Spacing */
  --spacing-112: 28rem;
  --spacing-144: 36rem;
  --spacing-192: 48rem;
  --spacing-256: 64rem;
  --spacing-320: 80rem;
}

/* Container */
@utility container {
  padding-left: 16px;
  padding-right: 16px;

  @media (width >= theme(--breakpoint-sm)) {
    padding-left: calc((100vw + 16px - 640px) / 2);
    padding-right: calc((100vw + 16px - 640px) / 2);
  }

  @media (width >= theme(--breakpoint-md)) {
    padding-left: calc((100vw + 16px - 768px) / 2);
    padding-right: calc((100vw + 16px - 768px) / 2);
  }

  @media (width >= theme(--breakpoint-lg)) {
    padding-left: calc((100vw + 16px - 1024px) / 2);
    padding-right: calc((100vw + 16px - 1024px) / 2);
  }

  @media (width >= theme(--breakpoint-xl)) {
    padding-left: calc((100vw + 16px - 1280px) / 2);
    padding-right: calc((100vw + 16px - 1280px) / 2);
  }

  @media (width >= theme(--breakpoint-2xl)) {
    padding-left: calc((100vw + 16px - 1536px) / 2);
    padding-right: calc((100vw + 16px - 1536px) / 2);
  }
}

@custom-variant mobile (@media (max-width: 767px));
